@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto com a finalidade de melhorar as habilidades em C#</p>
<p>Desenvolvedor: @ViewData["Estudante"]</p>
<address>
    <strong> Redes sociais: </strong> <a href="https://www.linkedin.com/in/lucas-gon%C3%A7alves-7903111ba/">Linkedin</a>
</address>